@font-face {
  font-family: poppins;
  src: url(./src/assets/fonts/Poppins-Regular.ttf);
}

body{
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 90vh;
  width: 100vw; 
  background-color: rgb(230, 239, 245);
  font-family: poppins, monospace, Arial, Helvetica, sans-serif;
  
  justify-content: space-between;
}

#inputsDIV{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 260px;
}

.inputs{
  text-align: center;
  border-style: none;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 36px;
  width: 300px;
 
}

#downloadBtn{
  background-color: rgb(101, 166, 240);
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 3px 3px ;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 15px;
}

#downloadBtn:hover{
  background-color: rgb(56, 141, 238);
  color: white;
  
}

label{
  color:rgb(44, 146, 206);
  font-weight: 600;
  font-size: 18px;
  padding: 1vh;
}

#imageHero{
  width: 100px;
  margin-top: 9vh;
}

main{
  height: 500px;
  width: 100px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

p{
  font-size: 12px;
  color: rgb(0, 128, 202);
}

#cut{
  background-color: rgb(44, 146, 206);
  width: 340px;
  height: 2px;
}